html {
    padding: 0px;
    margin: 1em;
}
body {
    max-width: 700px;
    margin: 0 auto;
}
.post-list li {
    list-style-type: none;
}
details {
    margin-left: 1em;
}
.small {
    font-size: small;
}

@media screen and (max-width: 700px) {
    html { margin: 0; }
    body { margin: 0.5em; }
}

/* Use dark scheme, unless the user prefers light */
@media screen /* and (prefers-color-scheme: dark) */ {
    body {
        background-color: #2d2b29;
        color: #ddd;
    }
    pre, code {
        color: #dcdccc;
        background-color: #3f3f3f;
    }
    a {
        color: #aac;
    }
    a:visited {
        color: #cbc;
    }
    abbr {
        border-bottom: 1px dotted #ddd;
    }

@media screen and (prefers-color-scheme: light) {
    body {
        color: #2d2b29;
        background-color: #fbfdfc;
    }
    pre, code {
        color: #596e76;
        background-color: #fffce9;
    }
    a {
        color: #336;
    }
    a:visited {
        color: #636;
    }
    abbr {
        border-bottom: 1px dotted #2d2b29;
    }
}
